$link-color: #3d4954;
$link-color--hover: #0479ff ;
$box-color1: #fbadaf; 
$box-color1--hover: #ff6e72; 
$box-color2: #cbb5e2;
$box-color-2--hover: #a764ec;
$box-color3: #a4e0eb;
$box-color-3--hover: #22cdec;
$box-color4: #fdca95;
$box-color-4--hover: #fb9124;
$witers-color: #8b939c;
$writer-color__hover: #0479ff;
$dropdown-bg: #f9f9f9;
$dropdown-text: #000000;
$dropdown-hover-bg: #f1f1f1;
$shadow-color: #00000033;
$breadcrump-color: #2e4aff ;
$breadcrump-color-hover: #002071;

.fa-tag{
  color: #8b939c;
}